#top{  
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.businessCard{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #AEC5CB;
  flex-direction: column;
}

.businessCard-top-container{
  width: 100%;
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  flex: 3;
}

.placeholder{
  width: 100%;
  height: 10vw;
}

.businessCard-name{
  width: 100%;
  font-size: 10vw; 
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  color: #565656;
  height: 10vw;
}

.businessCard-title{
  width: 100%;
  font-size: 5vw;
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  color: #EDEDED;
  height: 5vw;
  
}

.businessCard-bottom-container{
  width: 97%;
  margin-bottom: 2em;
  align-self: flex-end;
  flex: -1;
  margin-left: 1em;
  margin-right: 1em;
}

.businessCard-bottom-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.businessCard-bottom-container li {
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 1em;
  text-align: center;
  border-left: 5px solid #EDEDED;
  font-size: 3vw;
  color: #EDEDED;
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
}

.businessCard-bottom-container li:first-child { 
  border-left: none; 
}

.businessCard-bottom-container a {
  text-decoration: none;
  color:#565656;
}