#portfolio{  
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: #AEC5CB;
  padding-top: 18px;
  height: 100vh;
}

.portfolio-container {
  width: 80%;
  margin: auto;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.portfolio-container::-webkit-scrollbar{ 
  display: none; 
}

.project-one-container, .project-two-container{
  width: 50%;
  height: 100%;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 50px;
  border-radius: 3px;
  display: block;
  background-color: #EDEDED;
}

.space-container{
  height: 100%;
  background: #AEC5CB;
  padding: 15px;
}

h2 {
  align-self: flex-start;
  width: 100%;
  font-size: 7vw; 
  font-family: "din-2014", helvetica, sans-serif;
  color: #565656;
}

h5 {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 6px;
  font-size: 4vw; 
  font-family: "din-2014", helvetica,sans-serif;
  color: #565656;
  text-align: center;
}

h6 {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  font-size: 3vw; 
  font-family: "din-2014", helvetica, sans-serif;
  color: #565656;
  text-align: center;
}

.pp {
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  font-size: 16px;
  font-size: 2vw; 
  font-family: "din-2014", helvetica, sans-serif;
  color: #565656;
  padding: 5px;
}

.project-one-description, .project-two-description, .project-one-skills, .project-two-skills {
  display:block;
  width:100%;
}


.project-links{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-size: 2vw; 
  font-family: "din-2014", helvetica, sans-serif;
}

.linkBox{
  padding: 5px;
  border: 5px solid #AEC5CB;
  background-color: #EDEDED;
  margin-bottom: 5px;
  box-sizing: border-box;
}

a:hover {
  background-color: rgba(107, 18, 18, 0.158)
}

a {
  text-decoration: none;
  color: #565656;
}

.space-container-link{
  height: 100%;
  background: #EDEDED;
  padding: 5px;
}
