#resume{  
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: #EDEDED;
  padding-top: 18px;
  height: 100vh;
}

.resume-container {
  width: 80%;
  margin: auto;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
}