/* 
 565656 - blackish
 EDEDED - greyish
 AEC5CB - blueish
 */

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.section::before,
.section::after { /*clearfix - just contains columns
  It is one of those ugly things that we all just have to live with as it is really the only reasonable way of ensuring floated child elements don't overflow their parents. There are other layout schemes out there but floating is too commonplace in web design/development today to ignore the value of the clearfix hack. (what???? - Not 100% what this really means but have a feeling this is good to include for current/future styling) QUEST
  */
  display: table;
  content: " ";
  clear: both;
}

body{
  background-color: #EDEDED;
}

/*all columns are full width on mobile*/
.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

/*
I like the border around the portfolio (although will make offset white/other color?) - 
this styling will remove white border around content
NOTE: Add in if not able to address navbar right QUEST and modify navbar style as needed
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
 }
 */

.main { 
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /*does not show overflow - no horizontal scrollbar needed*/
  background-color: white;
  max-width: 740px;
}

/*TOP STYLING - START ---------------------------------------------------------------------*/
#top {
  height: 100vh;
  margin-bottom: -100px; /*needed to incorporate nav bar at bottom of top page NOTE: Need to match navBar "containerHeight"*/
}

.top-container { 
  text-align: center; /*centers avatar and text */
  background-color: #AEC5CB;
  height: 100vh;
  /*padding: 10px maybe utilize - looks kind of nice*/;
}

.cardheader-image {
  background: url('./components/images/linh-nguyen-145766-unsplash.jpg');
  background-size:cover;
  background-position:top; /*ADJUST BASED ON SCREEN SIZE center (mobile?), bottom, top (default) https://www.w3schools.com/cssref/pr_background-position.asp*/
  height: 45%;
}

.avatar {
  position: relative; /*relative - position relative to another element; in this case the cardheader-image - will sit flush below if margin is not adjusted */
  margin: -60px 0px 15px 0px; /*adjust top margin to shift avatar down relative to cardheader image; adjust bottom margin to shift top info down relative to avatar; top margin; right margin; bottom margin; left margin*/
}

.avatar img {
  width: 125px;
  height: 125px;
  max-width: 125px; /*ensure image width maintained*/
  max-height: 125px; /*ensure image height maintained*/
  border-radius: 50%; /*make border rounded rather than default square*/
  border: 5px solid #EDEDED; 
}

.top-info { /*contains top-name and top-title*/
  padding: 4px 0px 10px 0px; /*top, right, bottom, left NOTE: don't really need it - more for styling - leaving as is for future mods if needed*/
  font-family: "din-2014", helvetica, sans-serif;
}

.top-name {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  color: #565656;
  margin: 8px 14px 0 14px;
}

.top-title {
  font-size: 2em;
  line-height: 1.25em;
  color: #EDEDED;
  margin: 8px 14px 0 14px; 
}
/*TOP STYLING - END ---------------------------------------------------------------------*/

/*NAVBAR STYLING - START ---------------------------------------------------------------------*/
.navOnTop{
  z-index: 200; /* set +xxx value so navbar appears "on top" of contents 
  QUEST: the value seems arbitrary as long as high enough to cushion on top of other items; how to*/
}

.topNav-list {
  display: flex; /*flexbox for navbar - enable row direction stack horizontally rather than vertically*/
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 50px;
  list-style-type: none;
}

/*
placeholder - for future styling if needed - div around link/nav icons
.wrapper{
  padding-right: 3px;
  padding-left: 3px
}*/

a, a:visited {
    color: #565656;
    font-family: "din-2014", helvetica, sans-serif;
    text-decoration: none;
  }

a:hover, a:focus { /*hover - mouse hover; focus - keyboard */
  text-decoration: underline;
}

img.icon-bubble{
  width:30px;
  height: 30px
}

li [class^="icon-"] {
  display: block; /*brings text below icons/icon above text*/
  margin: auto; /*center aligns icons*/
}


/*NAVBAR STYLING - END ---------------------------------------------------------------------*/

/*QUESTIONS STYLING - START ---------------------------------------------------------------------*/
#questions { 
  text-align: left; /*centers avatar and text */
  background-color: #EDEDED;
  font-family: "din-2014", helvetica, sans-serif;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.questions-title{
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  color: #565656;
}

.questions-question{
  padding-top: 20px;
  font-size: 2em;
  line-height: 1.25em;
  color: #AEC5CB; 
  text-overflow: ellipsis; /*in case of overflow*/
}

.questions-paragraph{
  font-size: 1.5em;
  line-height: 1.58em;
  color: #565656; 
  text-overflow: ellipsis; /*in case of overflow*/
}

/*QUESTIONS STYLING - END ---------------------------------------------------------------------*/

/*PORTFOLIO STYLING - START ---------------------------------------------------------------------*/

#portfolio { 
  text-align: left; /*centers avatar and text */
  background-color: #AEC5CB;
  font-family: "din-2014", helvetica, sans-serif;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-title{
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  color: #565656;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-one-container, .project-two-container{
  margin-bottom: 75px;
  text-align: center;
}

.project-one, .project-two{
  width: 90%;
  padding: 20px;
  border-radius: 3px; /*slightly rounded border*/
  background-color: #EDEDED;
  border: 2px solid #565656;
  margin: auto; /*center*/
}

.project-title, .project-subsection-title{
  line-height: 1.25em;
  color: #AEC5CB; 
  text-overflow: ellipsis; /*in case of overflow*/
}

.project-title{
  padding-top: 20px;
  font-size: 3em;
}

.project-subsection-title{
  padding-top: 10px;
  font-size: 1.75em;
  font-weight: bold;
}

.project-links{
  display: flex;
  justify-content: center;
  font-size: 1.5em; 
}

.project-linkBox{
  padding: 5px;
  border: 5px solid #AEC5CB;
  background-color: #EDEDED;
}

.project-linkBox > a:hover, .project-linkBox > a:focus {
  background-color: #AEC5CB;
  color: #565656; 
  text-decoration: none;
}

.space-container-link{
  background: #EDEDED;
  padding: 5px;
}

.project-paragraph{
  font-size: 1.5em;
  line-height: 1.58em;
  color: #565656; 
  overflow: hidden;
  text-overflow: ellipsis; /*in case of overflow*/
}

/*PORTFOLIO STYLING - END ---------------------------------------------------------------------*/

@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}