/* *, :after, :before {
  box-sizing: inherit;
} */

/*background-color: #EDEDED; offwhite
color: #565656; offblack
 color: #AEC5CB; bluish
*/

.home-container {
  border-top: 0px;
  border-left: auto;
  border-right: auto;
  display: block;
  overflow: hidden;
}




/* .questions{
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #AEC5CB;
}

h2 {
  border: 3px solid red;
  width: 100%;
  font-size: 7vw; 
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  color: #565656;
}

h3 {
  padding-top: 24px;
  border: 3px solid red;
  width: 100%;
  font-size: 4vw; 
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  color: #EDEDED;
}

p.first-paragraph {
  padding-top: 24px;
  border: 2px solid red;
  width: 100%;
  font-size: 2vw; 
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  margin-left: 18px;
  color: #565656;
}

p.second-paragraph {
  padding-top: 24px;
  border: 2px solid red;
  width: 100%;
  font-size: 2vw; 
  font-family: "din-2014", helvetica, sans-serif;
  font-weight: 0;
  margin-left: 18px;
  color: #565656;
}

div.first-question {
  height: 100vh;
  width: 100%;
  position: block;
  border: 3px solid blue;
}

div.second-question {
  height: 100vh;
  width: 100%;
  position: block;
  border: 3px solid red;
}


/*
@media (min-width: 768px){
  #top{
  height: 59.6vw
  }
}
*/ 